/* Large Cards */
.cardLg__grid {
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-template-rows: 1fr 1fr;
}
.cardLg__status {
	grid-column: 1/2;
	grid-row: 1/2;
	align-self: start;
	justify-self: start;
}
.cardLg__img__container {
	grid-column: 1/3;
	grid-row: 1/2;
	justify-self: end;
	display: flex;
	width: 4rem;
	height: 4rem;
}
.cardLg__img {
	min-width: 100%;
	min-height: 100%;
	object-fit: contain;
}
.cardLg__title {
	grid-column: 1/2;
	grid-row: 2/3;
	align-self: end;
}
.cardLg__dropdown {
	grid-column: 2/3;
	grid-row: 2/3;
	align-self: end;
	justify-self: end;
}
.cardLg__install {
	grid-column: 1 / -1;
	margin-top: 0.25rem;
}

/* Medium Cards */
.cardMd {
	display: flex;
	gap: 0.5rem;
	padding: 0.5rem 0.75rem;
	margin: 0 0.5rem;
	background-color: var(--fn-secondary);
	border: none;
	white-space: nowrap;
	align-items: center;
}
/* Small Cards */

.cardSm {
	background-color: var(--fn-body-bg);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	padding: 0.25rem 0.5rem;
	white-space: nowrap;
	min-width: auto;
}
/* Card XXL */

.cardXXl__grid {
	display: grid;
	grid-template-columns: 1fr min-content;
	gap: 1rem;
}
.cardXXl__cta {
	grid-row: 1/2;
	align-self: start;
	justify-self: end;
	white-space: nowrap;
}

@media only screen and (max-width: 400px) {
	.cardXXl__cta {
		white-space: normal;
	}
}

.cardXXl__header {
	grid-row: 1/2;
	display: flex;
	gap: 1rem;
	align-items: center;
}
.cardXXl__titleText {
	display: flex;
	flex-direction: column;
	line-height: 1.2;
}
.cardXXl__title {
	margin: 0;
}
.cardXXl__subtitle {
	color: var(--fn-gray-600);
	margin: 0;
}
.cardXXl__tagList {
	list-style: none;
	margin: 0;
	padding: 0;
	grid-column: 1/2;
	grid-row: 2/3;
	font-size: 0.875rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	align-self: start;
	color: var(--fn-gray-600);
}
.cardXXl__githubStars {
	grid-column: 2/3;
	grid-row: 2/3;
	justify-self: end;
	align-self: start;
}
.cardXXl__hero {
	grid-column: 1 / -1;
	grid-row: 3/4;
	display: flex;
	align-items: center;
	object-fit: cover;
	margin: 0;
}
.cardXXl__hero > img {
	max-width: 100%;
}
.cardXXl__description {
	grid-column: 1 / -1;
	color: var(--fn-gray-600);
}
.cardXXl__menu {
	font-size: 0.875rem;
	grid-column: 1 / -1;
	align-items: baseline;
	display: flex;
	color: var(--fn-gray-600);
	gap: 0.5rem;
}
.cardXXl__menuItem {
	display: flex;
	gap: 0.125rem;
	align-items: center;
}
.cardXXl__groupSelect {
	display: flex;
	flex-wrap: nowrap;
}

/* Card Featured Apps */
.cardFeatureApp {
	padding: 2.5rem;
	gap: 1rem;
}

.appPowerSwitchDivDisabled {
	pointer-events: none;
	opacity: 0.5;
}

.appPowerSwitch {
	box-shadow: -10px 10px 55px -6px rgba(0, 0, 0, 0.99);
	-webkit-box-shadow: 1px 10px 5px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 10px 5px -6px rgba(0, 0, 0, 0.75);
	cursor: pointer;
	transition: all 0.05s ease;
}

.appPowerSwitch:hover {
	transform: scale(1.1);
}

.appPowerSwitch:active {
	transform: scale(0.95);
}
