@font-face {
  font-family: "Source Sans 3 VF";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/Source Sans Pro/WOFF2/VAR/SourceSans3VF-Roman.ttf.woff2")
      format("woff2"),
    url("/fonts/Source Sans Pro/WOFF/VAR/SourceSans3VF-Roman.ttf.woff")
      format("woff"),
    url("/fonts/Source Sans Pro/VAR/SourceSans3VF-Roman.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "Source Code Variable";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/Source Code Pro/WOFF2/VAR/SourceCodeVariable-Roman.ttf.woff2")
      format("woff2"),
    url("/fonts/fonts/Source Code Pro/WOFF/VAR/SourceCodeVariable-Roman.ttf.woff")
      format("woff"),
    url("/fonts/fonts/Source Code Pro/VAR/SourceCodeVariable-Roman.ttf")
      format("truetype");
  font-display: block;
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/Source Sans Pro/WOFF2/TTF/SourceSans3-Light.ttf.woff2")
      format("woff2"),
    url("/fonts/Source Sans Pro/WOFF/OTF/SourceSans3-Light.otf.woff")
      format("woff"),
    url("/fonts/Source Sans Pro/TTF/SourceSans3-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/Source Sans Pro/WOFF2/TTF/SourceSans3-Regular.ttf.woff2")
      format("woff2"),
    url("/fonts/Source Sans Pro/WOFF/OTF/SourceSans3-Regular.otf.woff")
      format("woff"),
    url("/fonts/Source Sans Pro/TTF/SourceSans3-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/Source Sans Pro/WOFF2/TTF/SourceSans3-Bold.ttf.woff2")
      format("woff2"),
    url("/fonts/Source Sans Pro/WOFF/OTF/SourceSans3-Bold.otf.woff")
      format("woff"),
    url("/fonts/Source Sans Pro/TTF/SourceSans3-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/Source Code Pro/WOFF2/TTF/SourceCodePro-Light.ttf.woff2")
      format("woff2"),
    url("/fonts/Source Code Pro/WOFF/OTF/SourceCodePro-Light.otf.woff")
      format("woff"),
    url("/fonts/Source Code Pro/TTF/SourceCodePro-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/Source Code Pro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2")
      format("woff2"),
    url("/fonts/Source Code Pro/WOFF/OTF/SourceCodePro-Regular.otf.woff")
      format("woff"),
    url("/fonts/Source Code Pro/TTF/SourceCodePro-Regular.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/Source Code Pro/WOFF2/TTF/SourceCodePro-Bold.ttf.woff2")
      format("woff2"),
    url("/fonts/Source Code Pro/WOFF/OTF/SourceCodePro-Bold.otf.woff")
      format("woff"),
    url("/fonts/Source Code Pro/TTF/SourceCodePro-Bold.ttf") format("truetype");
  font-display: swap;
}
