.close {
	opacity: 1;
	margin-left: auto;
	position: absolute;
	top: 15px;
	right: 15px;
}
.close:hover {
	opacity: 0.5;
	scale: 1.1;
}

.featuredServices_container {
	background-color: var(--fn-secondary);
	border-radius: 0.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: wrap;
	overflow-x: auto;
}

.featuredServices_container:last-child {
	padding-right: 2rem;
}

.mobile_title {
	display: none;
}

@media only screen and (max-width: 768px) {
	.title {
		display: none;
	}
	.mobile_title {
		display: block;
	}

	.featuredServices_container:last-child {
		padding-right: 0rem;
	}
}
