.container {
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-columns:	min-content 1fr;
	grid-template-areas:	"search     search"
	                    	"categories icons";
	/* max-width: 20rem; */
	height: 20rem;
	max-height: 20rem;
	padding: 0;
	border-radius: 5px;
}
.search {
	grid-area: search;
	padding: 0.5rem;
	background-color: var(--fn-gray-200);
}
.categories {
	grid-area: categories;
	list-style: none;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 0.875rem;
	background-color:var(--fn-white);
}
.icons {
	grid-area: icons;
	align-self: start;
	list-style: none;
	display:flex;
	flex-direction: column;
	margin: 0;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}
.categoriesHeader {
	z-index: 3;
	position: sticky;
	top: 0;
	background-color: var(--fn-white);
	margin: 0;
	padding: 0.5rem 0.5rem;
}
.categoryItem {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	cursor: pointer;
	border: 0;
	padding: 0.25rem 0.5rem;
	white-space: nowrap;
}
.iconContainer {
	/* flex: 0 1 auto; */
	overflow-y: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 2rem);
	grid-template-rows: min-content;
	gap: 0.5rem;
	justify-content: center;
	padding: 0.5rem 0.25rem;
}
.iconPagination {
	margin: auto 0 0 0;
	/* flex: 0 0 auto; */
	background-color: var(--fn-white);
	justify-content: center;
}
.iconItem {
	border: 0;
	padding: 0;
	border-radius: 50%;
}