.navbar {
	--fn-red-light: #d07d7d;
	--fn-red: #b85b5b;
	--fn-red-dark: #904444;
	--fn-green-light: #50a561;
	--fn-green: #008a32;
	--fn-green-dark: #006a25;
	--fn-blue-light: #7495d1;
	--fn-blue: #4878be;
	--fn-blue-dark: #345d8c;
	--fn-yellow: #987102;
	--fn-brand-light: #ff595a;
	--fn-brand: #dd3839;
	--fn-brand-dark: #bb0408;
	--fn-brand-max: #ef0005;
	--fn-github-light: #3e4348;
	--fn-github: #24292f;
	--fn-github-dark: #06121d;
	--fn-gitlab-light: #fc5e49;
	--fn-gitlab: #da3e20;
	--fn-gitlab-dark: #af2800;
	--fn-white: #fff;
	--fn-gray: #75777c;
	--fn-black: #000;
	--fn-gray-100: #eff1f4;
	--fn-gray-200: #cfd1d5;
	--fn-gray-300: #b0b2b5;
	--fn-gray-400: #929498;
	--fn-gray-500: #75777c;
	--fn-gray-600: #595b5f;
	--fn-gray-700: #404145;
	--fn-gray-800: #27282b;
	--fn-gray-900: #101112;
	--fn-primary: #dd3839;
	--fn-secondary: #cfd1d5;
	--fn-dark: #27282b;
	--fn-success: #008a32;
	--fn-warning: #987102;
	--fn-danger: #b85b5b;
	--fn-gitlab: #da3e20;
	--fn-github: #24292f;
	--fn-font-sans-serif: 'Source Sans 3 VF', 'Source Sans Pro', system-ui, -apple-system, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--fn-font-monospace: 'Source Code Variable', 'Source Code Pro', SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
	--fn-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--fn-body-font-family: var(--fn-font-sans-serif);
	--fn-body-font-size: 16px;
	--fn-body-font-weight: 400;
	--fn-body-line-height: 1.5;
	--fn-body-color: var(--fn-gray-900);
	--fn-body-bg: var(--fn-gray-100);

	background-color: var(--fn-white);
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	padding: 0;
	z-index: 999;
	position: sticky;
	top: 0;
}

.navbar__nav {
	display: flex;
	margin-right: auto;
}

.navbar__menubtn {
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	padding: 8px;
	margin-left: 4px;
}

.navbar__menubtn:hover {
	background-color: var(--fn-gray-200);
	font-size: 16px;
	border-radius: 4px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

.navbar__menubtn:focus {
	color: var(--fn-gray-900);
	border-color: var(--fn-gray-200);
	box-shadow: 0 0 0 4px var(--fn-gray-300);
	background-color: var(--fn-gray-200);
}

.navbar__brand {
	font-weight: 700;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	font-size: 20px;
	color: var(--fn-black);
}

.navbar__logo {
	display: flex;
	width: 28px;
	height: 28px;
	fill: var(--fn-brand);
}

.navbar__desktopLinks {
	display: flex;
	flex-direction: row;
	margin-left: 16px;
	margin-right: auto;
	gap: 8px;
}

.navbar__link {
	font-size: 16px;
	display: flex;
	align-items: center;
	align-self: center;
	overflow: initial;
	padding: 4px 8px !important;
	gap: 2px;
	line-height: 24px;
	color: var(--fn-gray-600) !important;
	text-transform: initial;
	letter-spacing: initial;
	font-family: var(--fn-font-sans-serif);
	white-space: nowrap;
	grid-row: unset;
	opacity: 1;
	font-weight: 400 !important;
	border-radius: 4px;
}

.navbar__link:hover {
	opacity: 1;
	color: var(--fn-gray-900) !important;
	background-color: var(--fn-gray-200);
}

.navbar__link:after {
	display: none;
}

.navbar__link:active {
	color: var(--fn-black) !important;
}

.navbar__link:focus {
	color: var(--fn-black) !important;
	box-shadow: 0 0 0 4px var(--fn-gray-300) !important;
	background-color: var(--fn-gray-200);
}

.navbar__link:focus:not(:hover) {
	outline: none;
}

.navbar__link__active {
	font-weight: 700 !important;
	color: var(--fn-black) !important;
}

.navbar__collapse {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	display: none;
	padding: 8px;
	background-color: var(--fn-secondary);
}

/* PROFILE DROPDOWN */
.navbar__dropdown {
	position: relative;
	padding: 4px;
}

.navbar__droptoggle {
	display: flex;
	align-items: center;
	padding: 4px;
	font-size: 16px;
	border: none;
	height: auto;
	background-color: transparent;
	overflow: initial;
	text-transform: initial;
	white-space: nowrap;
	font-family: var(--fn-body-font-family);
	letter-spacing: initial;
	line-height: 24px;
	text-align: center;
	border-radius: 4px;
	color: var(--fn-gray-600) !important;
}

.navbar__droptoggle::after,
.navbar__droptoggle::before {
	display: none;
}

.navbar__droptoggle:hover {
	background-color: var(--fn-gray-200) !important;
	color: var(--fn-gray-900) !important;
}

.navbar__droptoggle:focus {
	border: none;
	outline: none;
	background-color: var(--fn-gray-200) !important;
	box-shadow: 0 0 0 4px var(--fn-gray-300) !important;
	color: var(--fn-gray-900) !important;
}

.navbar__dropmenu {
	display: none;
	position: absolute;
	margin-top: 2px;
	min-width: 160px;
	padding: 8px 0 8px 0;
	top: 100%;
	right: 0;
	background-color: var(--fn-white);
	border-radius: 4px;
	border: 1px solid var(--fn-gray-200);
}

.navbar__dropitem {
	font-size: 16px;
	display: block;
	width: 100%;
	padding: 4px 16px;
	line-height: 24px;
	color: var(--fn-gray-600);
}

.navbar__dropitem:hover {
	color: var(--fn-gray-900);
	background-color: var(--fn-gray-100);
}

.navbar__dropitem:active {
	color: var(--fn-black);
}

.text_danger {
	color: var(--fn-danger) !important;
}

.navbar__dropicon {
	margin-right: 4px;
}

.navbar__signbtn {
	height: 38px;
	font-family: var(--fn-font-sans-serif);
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	background-color: var(--fn-brand);
	margin: 4px;
	padding: 8px 12px;
	border-radius: 4px;
	letter-spacing: initial;
	text-transform: initial;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	border: 0 transparent !important;
	outline: 0 transparent !important;
}
.navbar__signbtn:hover {
	background-color: var(--fn-brand-light);
}
.navbar__signbtn:focus {
	background-color: var(--fn-brand-light);
	box-shadow: 0 0 0 4px var(--fn-brand);
}
.navbar__skeleton {
	border-radius: 4px;
	height: 38px;
	width: 70px;
	margin: 4px;
	background-color: var(--fn-gray-100);
	cursor: wait;
}

.navbar__signbtn:before,
.navbar__signbtn:after {
	display: none;
}

@media (max-width: 575.98px) {
	.navbar__desktopLinks {
		display: none;
	}
}

@media (min-width: 576px) {
	.navbar__menubtn {
		display: none;
	}
}
