/*
=====================================================================
=====================================================================

   TOC:
   a. FONT IMPORTS
   b. DEFAULT OVERRIDES
   c. TYPEOGRAPHY
   d. BACKGROUNDS
   e. SVG ICONS
   f. BUTTONS
   g. IMAGES
   h. GRID
   i. NAV
   j. HERO
   k. STEPS SECTION
   l. FRIENDS SECTION
   m. SIMPLE SECTION
   n. DATA SECTION
   o. FREE SECTION
   p. ENTERPRISE MODAL
   q. INSTALL PAGE
   r. AVAILABILITY AND FAULT TOLERANCE TOOLTIP
   s. SEE ALL APPS SIDEBAR
   t. MEDIA QUERIES
   u. SAFARI FOOTER BUG FIX

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. IMAGE ASPECT RATIOS
/* ------------------------------------------------------------------ */

@font-face {
	font-family: 'Source Sans 3 VF';
	font-weight: 200 900;
	font-style: normal;
	font-stretch: normal;
	src: url('../public/fonts/Source Sans Pro/WOFF2/VAR/SourceSans3VF-Roman.ttf.woff2') format('woff2'),
		url('../public/fonts/Source Sans Pro/WOFF/VAR/SourceSans3VF-Roman.ttf.woff') format('woff'),
		url('../public/fonts/Source Sans Pro/VAR/SourceSans3VF-Roman.ttf') format('truetype');
	font-display: block;
}
@font-face {
	font-family: 'Source Code Variable';
	font-weight: 200 900;
	font-style: normal;
	font-stretch: normal;
	src: url('../public/fonts/Source Code Pro/WOFF2/VAR/SourceCodeVariable-Roman.ttf.woff2') format('woff2'),
		url('../public/fonts/Source Code Pro/WOFF/VAR/SourceCodeVariable-Roman.ttf.woff') format('woff'),
		url('../public/fonts/Source Code Pro/VAR/SourceCodeVariable-Roman.ttf') format('truetype');
	font-display: block;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	src: url('../public/fonts/Source Sans Pro/WOFF2/TTF/SourceSans3-Light.ttf.woff2') format('woff2'),
		url('../public/fonts/Source Sans Pro/WOFF/OTF/SourceSans3-Light.otf.woff') format('woff'),
		url('../public/fonts/Source Sans Pro/TTF/SourceSans3-Light.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	src: url('../public/fonts/Source Sans Pro/WOFF2/TTF/SourceSans3-Regular.ttf.woff2') format('woff2'),
		url('../public/fonts/Source Sans Pro/WOFF/OTF/SourceSans3-Regular.otf.woff') format('woff'),
		url('../public/fonts/Source Sans Pro/TTF/SourceSans3-Regular.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	src: url('../public/fonts/Source Sans Pro/WOFF2/TTF/SourceSans3-Bold.ttf.woff2') format('woff2'),
		url('../public/fonts/Source Sans Pro/WOFF/OTF/SourceSans3-Bold.otf.woff') format('woff'),
		url('../public/fonts/Source Sans Pro/TTF/SourceSans3-Bold.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Source Code Pro';
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	src: url('../public/fonts/Source Code Pro/WOFF2/TTF/SourceCodePro-Light.ttf.woff2') format('woff2'),
		url('../public/fonts/Source Code Pro/WOFF/OTF/SourceCodePro-Light.otf.woff') format('woff'),
		url('../public/fonts/Source Code Pro/TTF/SourceCodePro-Light.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Source Code Pro';
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	src: url('../public/fonts/Source Code Pro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
		url('../public/fonts/Source Code Pro/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
		url('../public/fonts/Source Code Pro/TTF/SourceCodePro-Regular.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Source Code Pro';
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	src: url('../public/fonts/Source Code Pro/WOFF2/TTF/SourceCodePro-Bold.ttf.woff2') format('woff2'),
		url('../public/fonts/Source Code Pro/WOFF/OTF/SourceCodePro-Bold.otf.woff') format('woff'),
		url('../public/fonts/Source Code Pro/TTF/SourceCodePro-Bold.ttf') format('truetype');
	font-display: swap;
}

/* ------------------------------------------------------------------ */
/* b. DEFAULT OVERRIDES
/* ------------------------------------------------------------------ */
*,
*::before,
*::after {
	box-sizing: border-box;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	background-color: #171717;
}
body {
	position: relative;
}
a,
button {
	border: 0;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
}
::-moz-selection {
	background: #cf4848;
}
::-webkit-selection {
	background: #cf4848;
}
::selection {
	background: #cf4848;
}
@supports (font-variant-position: super) {
	sup {
		font-variant-position: super;
	}
}
figure {
	margin: 0;
}
ul,
ol {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	display: block;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #afafaf #171717;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: #171717;
}

*::-webkit-scrollbar-thumb {
	background-color: #afafaf;
	border-radius: 50px;
}

/* ------------------------------------------------------------------ */
/* c. TYPEOGRAPHY
/* ------------------------------------------------------------------ */
html {
	font-family: 'Source Sans 3 VF', 'Source Sans Pro', -apple-system, 'San Francisco', BlinkMacSystemFont, 'Segoe UI',
		'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: calc((2.2vh + 2.2vw) / 2);
	/* font-size: calc( (2.7vh + 1.70vw) / 2); */
	line-height: 1.2;
}
h6,
figcaption,
.nav-link,
code,
a.btn,
button {
	font-family: 'Source Code Variable', 'Source Code Pro', 'Courier New', Courier, monospace;
}
input,
textarea {
	font-family: 'Source Sans 3 VF', 'Source Sans Pro', -apple-system, 'San Francisco', BlinkMacSystemFont, 'Segoe UI',
		'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h6,
figcaption,
.nav-link {
	text-transform: uppercase;
}
.code {
	white-space: nowrap;
	font-feature-settings: 'smcp';
	font-variant: small-caps;
}
.code.light {
	font-weight: 575;
}
/*SIZE & LINE-HEIGHT & MARGIN*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
h1 {
	font-size: 4.36363636rem;
	line-height: 0.95833333;
	margin-bottom: 1rem;
}
h2 {
	font-size: 2.72727272rem;
	line-height: 1.09090909;
	margin-bottom: 0.18181818rem;
}
h3 {
	font-size: 1.72727272rem;
	line-height: 1.18181818;
	margin-bottom: 0.18181818rem;
}
h4 {
	margin-bottom: 0.227272727rem;
}
h4,
h5 {
	font-size: 1rem;
}
p {
	line-height: 1.29090909;
}
h6,
figcaption,
p.sm,
ol.sm,
ul.sm {
	font-size: 0.63636363rem;
}
/*WEIGHT*/
h1.light,
h2.light,
h3.light,
h4.light,
h6.light,
a.nav-link,
figcaption.light {
	font-weight: 750;
}
h1,
h2,
h3,
h4,
figcaption {
	font-weight: 700;
}
h5.light,
p.light,
ol.light,
ul.light {
	font-weight: 400;
}
h5,
p {
	font-weight: 375;
}
/*COLOR*/
a.nav-link,
button.btn-dark.btn-secondary {
	color: #ffffff;
}
h1.light,
h2.light,
h3.light,
h4.light {
	color: #fafafa;
}
h5.light,
h6.light,
p.light,
figcaption,
ul.light,
ol.light {
	color: #afafaf;
}
h6,
p {
	color: #555555;
	/* color: #606d6d; */
}
h1,
h2,
h3,
h4,
h5 {
	color: #171717;
}
.red {
	color: #cf4848 !important;
}
.grey {
	color: #606d6d !important;
}
/* ------------------------------------------------------------------ */
/* d. BACKGROUNDS
/* ------------------------------------------------------------------ */
.bg-dark {
	background-color: #171717;
	background-image: url('../public/img/Noise-Black.png');
	background-image: image-set(url('../public/img/Noise-Black.png') 1x, url('../public/img/Noise-Black@2x.png') 2x);
	background-repeat: repeat;
	background-size: 128px 128px;
}
.bg-light {
	background-color: #fafafa;
	background-image: url('../public/img/Noise-White.png');
	background-image: image-set(url('../public/img/Noise-White.png') 1x, url('../public/img/Noise-White@2x.png') 2x);
	background-repeat: repeat;
	background-size: 128px 128px;
}
/* ------------------------------------------------------------------ */
/* e. SVG ICONS
/* ------------------------------------------------------------------ */
.hidden {
	display: none;
}
.icon-sprite-sheet {
	position: absolute;
	visibility: hidden;
	width: 0;
	height: 0;
	z-index: -1;
}
.svg-icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.175em;
}
.btn.btn-secondary svg {
	margin-left: 0.54em;
	width: 0.85em;
	height: 0.85em;
}
.btn.btn-secondary svg,
.svg-icon {
	z-index: 51;
	fill: currentColor;
	vertical-align: -0.1em;
}
.svg-icon.copy-icon {
	color: #ffffff;
	opacity: 0.66;
	cursor: pointer;
}
.svg-icon.copy-icon:hover {
	color: #ffffff;
	opacity: 1;
}
.svg-icon.copy-icon.icon-green {
	color: #008a32 !important;
	opacity: 1;
	cursor: auto;
}
/* ------------------------------------------------------------------ */
/* f. BUTTONS
/* ------------------------------------------------------------------ */
.btn {
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	font-size: 0.6363636rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.055em;
	white-space: nowrap;
	padding: 0.55em 0.636em;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	line-height: 1;
	text-align: left;
	/*styling links as buttons*/
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	height: 2.1em;
}
.btn:before,
.btn:after {
	/*background for buttons*/
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.btn-txt {
	display: inline;
	position: relative;
	z-index: 51;
	vertical-align: baseline;
}
.btn.btn-secondary {
	font-family: 'Source Code Variable', 'Source Code Pro', 'Courier New', Courier, monospace;
	font-weight: 400;
	text-decoration: underline;
	margin-left: -0.55em;
}
.btn.btn-secondary:before {
	/*(secondary button doesn't get a background)*/
	display: none;
}
.btn.btn-lg {
	/*Large Size Button*/
	font-size: 1rem;
}
/*BUTTON - Background-colors*/
.btn-light.btn:before {
	background-color: #171717;
}
.btn-dark.btn:before {
	background-color: #fafafa;
}
.btn-dark,
.btn-light.btn-secondary {
	/*text color on dark backgrounds*/
	color: #000000;
}
.btn-light,
.btn-dark.btn-secondary {
	/*text color on light backgrounds*/
	color: #ffffff;
}
/*BUTTON - Hover Effects*/
.btn-dark > .btn-txt {
	opacity: 0.91;
}
.btn-light > .btn-txt {
	opacity: 0.98;
}
.btn-secondary.btn-dark > .btn-txt,
.btn-secondary.btn-light > .btn-txt {
	opacity: 0.66;
}
.btn:after {
	background-color: #cf4848;
	transform: translateX(-104%);
}
.btn-secondary:hover > .btn-txt {
	/*for the opacity of text*/
	opacity: 1;
}
.btn:hover:after {
	/*for the position of the red background*/
	transform: translateX(0%);
}
.btn:after,
.btn > .btn-txt {
	transition: 0.25s cubic-bezier(0.9, 0.03, 0.69, 0.22);
}
.btn:hover:after,
.btn:hover > .btn-txt {
	transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
/*BUTTON - Accessibility*/
.btn:focus,
.btn:focus:before {
	outline: 2px #cf4848 solid;
	outline-offset: -2px;
}
.btn:focus > .btn-txt {
	opacity: 1;
}
.btn:active:after {
	background-color: #e82727;
}

button.tooltip:focus {
	outline: none;
}

button.tooltip:focus > .tooltip-icon {
	color: #cf4848;
}
a.modal-close:focus {
	color: #cf4848;
	outline: none;
}
/* ------------------------------------------------------------------ */
/* g. IMAGES
/* ------------------------------------------------------------------ */
img {
	display: block;
	align-self: center;
	height: 100%;
	width: auto;
	/* max-width: 100%;
	max-height: 100%; */
}
.img.contain {
	object-fit: contain;
}
.img.cover {
	object-fit: cover;
}
.img.xsm {
	width: 0.727272rem;
	height: 0.727272rem;
}
.img.sm {
	width: 1.181818rem;
	height: 1.181818rem;
}
.img.md {
	width: 1.818181rem;
	height: 1.818181rem;
}
.img.lg {
	width: 2.9090909rem;
	height: 2.9090909rem;
}
.img.xlg {
	width: 4.9090909rem;
	height: 4.9090909rem;
}
.img.xxlg {
	width: 8.18181818rem;
	height: 8.18181818rem;
}
.img.xxxlg {
	width: 13.27272727rem;
	height: 13.27272727rem;
}
picture.img {
	display: flex;
	object-fit: contain;
}
/* ------------------------------------------------------------------ */
/* h. GRID
/* ------------------------------------------------------------------ */
.grid {
	width: 100%;
	height: 100%;
	display: grid;
	padding: 2.72727272rem 2.72727272rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1.090909rem;
	grid-auto-rows: 1fr;
}
/* ------------------------------------------------------------------ */
/* i. NAV
/* ------------------------------------------------------------------ */
.nav-wrapper {
	position: fixed;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	height: 0;
	width: 100%;
	mix-blend-mode: difference;
	pointer-events: none;
	z-index: 2500;
}
.nav-wrapper > .grid {
	padding: 0.63rem 2.72727272rem;
}
.nav-bg {
	position: sticky;
	position: -webkit-sticky;
	top: -1px;
	z-index: 100;
	width: 100%;
	height: 1.89rem;
}
.nav-link {
	display: block;
	position: relative;
	grid-row: 1/2;
	font-family: 'Source Code Variable', 'Source Code Pro', 'Courier New', Courier, monospace;
	font-size: 0.63636363rem;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.055em;
	text-decoration: none;
	overflow: hidden;
	pointer-events: auto;
	outline: none;
	align-self: center;
	opacity: 0.66;
	transition: 0.25s cubic-bezier(0.9, 0.03, 0.69, 0.22);
}
.nav-home {
	display: inline-block;
	list-style: none;
	justify-self: start;
	grid-column: 1/3;
}
.nav-demo {
	display: inline-block;
	list-style: none;
	grid-column: 3/4;
	justify-self: end;
}
.nav-install {
	display: inline-block;
	list-style: none;
	grid-column: 4/5;
	justify-self: end;
}
.nav-link::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 1px;
	background-color: #ffffff;
	transform: translateX(-100%);
	transition: 0.25s cubic-bezier(0.9, 0.03, 0.69, 0.22);
}
.nav-link:hover,
.nav-link:focus {
	opacity: 0.98;
	transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-link:focus:not(:hover) {
	outline: 1px solid #ffffff;
	outline-offset: 0.3636363636363636rem;
}
.nav-link:active {
	opacity: 1;
}
.nav-link:hover::after,
.nav-link:focus::after {
	transform: translateX(0);
	transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-link:active::after {
	transform: translateX(100%);
}
/* ------------------------------------------------------------------ */
/* j. HERO
/* ------------------------------------------------------------------ */
.hero-wrapper {
	position: relative;
	height: 95vh;
}
.hero-wrapper > .grid {
	grid-template-rows: 61vh 1fr;
}
.hero-title {
	grid-column: 1 / -1;
	max-width: 75ch;
	grid-row: 1 / 2;
	align-self: center;
	z-index: 120;
}
.hero-title p {
	color: #ffffff;
	margin-top: 1.72727272rem;
}
.hero-cta {
	grid-column: 1 / -1;
	align-self: start;
	z-index: 120;
}
.hero-cta > a {
	margin-right: 1rem;
}
.hero-background {
	width: 300vw;
	height: 300vh;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(calc(-50% - 23vw));
	overflow: hidden;
	z-index: 110;
}
.hero-img-wrapper {
	position: absolute;
	width: 100vw;
	height: 100vh;
	bottom: 0;
	left: calc(50% + 23vw);
	transform: translateX(-50%);
}
.hero-img {
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	object-fit: cover;
}
.hero-img > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* ------------------------------------------------------------------ */
/* k. STEPS SECTION
/* ------------------------------------------------------------------ */
.steps-section {
	position: relative;
	padding-top: 2.7rem;
}
.steps-section > .grid {
	position: relative;
}
.steps-section .grid .img {
	position: relative;
	z-index: 10;
}
.steps-header {
	grid-column: 1 / -1;
	grid-row: span 2;
	max-width: 75ch;
}
.steps-subhead {
	grid-column: 1 / -1;
	grid-row: span 2;
	max-width: 38ch;
}
.steps-zero {
	grid-column: 1 / 2;
	display: inline;
}
.steps-one {
	grid-column: 3 / span 2;
}
.steps-two {
	grid-column: 3 / span 2;
	justify-self: end;
}
.steps-three {
	grid-column: 2 / span 2;
	position: relative;
	z-index: 10;
}
.steps-flex {
	white-space: nowrap;
	display: flex;
	align-items: flex-start;
}
.steps-number-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#stepsCanvas {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	/* z-index: -1; */
}

.launch-server {
	z-index: 10;
}
#dataCanvas {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	grid-column: 1/-1;
	grid-row: 5/8;
}
#internetGateway {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	grid-column: 3/5;
	grid-row: 1/5;
}
.sidecar {
	margin: 0.3181818rem 0 0 0.5rem;
}
.sidecar > p {
	margin: 0 0 0.5rem 0;
}
/* ------------------------------------------------------------------ */
/* l. FRIENDS SECTION
/* ------------------------------------------------------------------ */
.friends-section > .grid {
	align-items: baseline;
}
.friends-header {
	grid-column: 1/-1;
	grid-row: 1 / span 2;
	max-width: 60ch;
}
.friends-subhead {
	grid-column: 1/2;
	grid-row: 4/5;
}
.friends-one-header {
	grid-column: 2/3;
	grid-row: 4/5;
}
.friends-two-header {
	grid-column: 3/4;
	grid-row: 4/5;
}
.friends-three-header {
	grid-column: 4/5;
	grid-row: 4/5;
}
.friends-one-detail {
	display: flex;
	flex-direction: column;
	gap: 0.63636363rem;

	grid-column: 2/3;
	grid-row: 3/4;
	align-self: end;
}
.friends-two-detail {
	display: flex;
	flex-direction: column;
	gap: 0.63636363rem;

	grid-column: 3/4;
	grid-row: 3/4;
	align-self: end;
}
.friends-three-detail {
	display: flex;
	flex-direction: column;
	gap: 0.63636363rem;

	grid-column: 4/5;
	grid-row: 2/4;
	align-self: end;
}
/* ------------------------------------------------------------------ */
/* m. SIMPLE SECTION
/* ------------------------------------------------------------------ */
.simple-header {
	grid-column: 1/-1;
	grid-row: span 2;
	max-width: 75ch;
}
.simple-subheader {
	grid-column: 1/-1;
	max-width: 25ch;
}
/* Row - Top Apps */
.top-apps {
	grid-column: 1/2;
	grid-row: 3 / 5;
	/* grid-row: 4 / 6; */
}
.app-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.55rem;
	/* grid-row: 4 / 5; */
	grid-row: 3 / 4;
}
.button-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.181818rem;
	grid-row: 3 / 4;
	/* grid-row: 4 / 5; */
	margin-top: -0.09090909rem;
}
.app-card {
	display: flex;
}
.app-title {
	margin: 0 0 0 0.5rem;
}
.auto-updates,
.custom-apps {
	grid-column: 1 / 5;
	display: grid;
	align-content: baseline;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: inherit;
	grid-auto-flow: column;
}
.ci {
	grid-column: 1/2;
}
/* Row - Auto Updates */
.auto-updates {
	grid-row: 6 / 7;
}
.auto-updates > p {
	grid-column: span 2;
}
.custom-apps > p {
	grid-column: 2 / 4;
}
/* Row - Custom Apps*/
.custom-apps-example {
	grid-column: 4 / span 1;
	display: flex;
	align-items: center;
}
.auto-update-img > figcaption {
	margin: 0.5rem 0 0.5rem 0;
}
.zero-maint,
.auto-update-img {
	/*align these items to the baseline*/
	align-self: baseline;
}
/* ------------------------------------------------------------------ */
/* n. DATA SECTION
/* ------------------------------------------------------------------ */
.data-wrapper {
	background-color: #fafafa;
	/* position: relative; */
}
.data-header {
	align-self: center;
	grid-column: 1/3;
	grid-row: 1 / 2;
	max-width: 45ch;
}
.data-subheader {
	grid-column: 1/3;
	grid-row: 2/3;
	max-width: 40ch;
}
.data-container {
	grid-column: 1/3;
	max-width: 35ch;
}
.data-container > p,
.data-subheader > p {
	margin-bottom: 0.181818rem;
}
.data-container > .img,
.decide-who > .img,
.control-your > .img {
	margin-bottom: 1.090909rem;
}
.display-image {
	position: relative;
	grid-column: 3/5;
	grid-row: 1/3;
	z-index: 501;
}
.display-image-wrapper {
	display: flex;
	position: absolute;
	width: 50vw;
	height: 50vh;
	top: -5.454545rem;
	left: 0;
}
.noteworthy-image {
	position: relative;
	grid-column: 3/5;
	grid-row: 3/4;
	align-self: center;
	z-index: 30;
}
.noteworthy-image-wrapper {
	display: flex;
	position: absolute;
	align-self: center;
	justify-self: start;
	width: 30vw;
	height: 30vh;
	top: 50%;
	transform: translateY(-33%);
}
.control-image {
	position: relative;
	grid-column: 1/3;
	grid-row: 5/8;
	z-index: 29;
}
.control-image-wrapper {
	display: flex;
	position: absolute;
	align-self: center;
	justify-self: start;
	width: 38vw;
	height: 38vw;
	left: 10ch;
	top: 50%;
	transform: translate(-50%, -50%);
}
.display-image-wrapper > .img,
.noteworthy-image-wrapper > .img,
.control-image-wrapper > .img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.encrypted-storage {
	/* grid-column: 1/3; */
	grid-row: 3/4;
}
.encrypted-communication {
	/* grid-column: 1/3; */
	grid-row: 4/5;
}
.transparent {
	grid-column: 3/5;
	grid-row: 5/6;
}
.control-your {
	grid-column: 1/5;
	grid-row: 5/8;
	align-self: center;
	justify-self: start;
	max-width: 25ch;
	z-index: 30;
}
.decide-who {
	position: relative;
	z-index: 30;
	grid-column: 3/5;
	grid-row: 5/8;
	max-width: 35ch;
	align-self: end;
}
/* ------------------------------------------------------------------ */
/* o. FREE SECTION
/* ------------------------------------------------------------------ */
.free-section {
	position: relative;
	overflow: clip;
}
.free-section > .grid {
	position: relative;
	z-index: 10;
	padding-top: 6.8rem;
	min-height: 95vh;
}
.free-header {
	/* margin-top: 5.4rem; */
	grid-column: 1/-1;
	grid-row: span 2;
	max-width: 85ch;
}
.free-bg-circle {
	position: absolute;
	top: 0;
	left: 50%;
	width: 300vw;
	height: 300vh;
	border-radius: 50%;
	background-color: #171717;
	transform: translateX(calc(-50% - 23vw));
	z-index: 1;
	overflow: hidden;
}
.free-bg-circle.bg-transparent {
	position: absolute;
	background-color: transparent;
	overflow: clip;
	z-index: 100;
	pointer-events: none;
}
.free-main {
	grid-column: 1/3;
	grid-row: span 2;
	align-self: start;
}
.free-sign-up {
	grid-column: 1/3;
	/* grid-row: 6/7; */
	align-self: start;
}
.free-enterprise {
	grid-column: 3/5;
	/* grid-row: 6/7; */
	align-self: start;
}
.free-main > p,
.free-sign-up > p,
.free-enterprise > p {
	margin: 0 0 0.636363rem 0;
}
.alpha-details {
	margin-top: 0.636363rem;
}
.alpha-details-list {
	margin-top: 0.181818rem;
}
.input-button-group {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	max-width: 33ch;
}
.input-button-group .btn {
	flex-shrink: 0;
}
.alpha-code-input {
	font-size: 0.63636363rem;
	line-height: 1.2;
	outline: none;
	padding: 0.55em 0.636em;
	display: inline-block;
	color: #afafaf;
	background-color: #000000;
	border: none;
	border-radius: 0;
	height: 2.1em;
	flex-grow: 1;
}
.alpha-code-input:focus {
	outline: 2px #fafafa solid;
	outline-offset: -2px;
}
/* ------------------------------------------------------------------ */
/* p. ENTERPRISE MODAL
/* ------------------------------------------------------------------ */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.72);
	transition: opacity 0.25s cubic-bezier(0.9, 0.03, 0.69, 0.22);
	visibility: hidden;
	opacity: 0;
	z-index: 1000;
	overflow-y: auto;
}
.overlay .cancel {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.popup {
	margin: 4rem auto;
	padding: 1.72727272rem;
	min-width: 25rem;
	max-width: 55ch;
	position: relative;
	cursor: auto;
}
.popup p {
	margin-bottom: 1rem;
}
.modal-close {
	position: absolute;
	opacity: 1;
	transition: 0.25s cubic-bezier(0.9, 0.03, 0.69, 0.22);
	font-size: 1rem;
	font-weight: 700;
	color: #fafafa;
	top: 1rem;
	right: 1rem;
}
.modal-close:hover {
	opacity: 0.8;
	transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.modal-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	margin-bottom: 1rem;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.modal-label {
	font-size: 0.75rem;
	font-weight: 700;
	margin-bottom: 0.25rem;
}
.modal-input {
	width: 100% !important;
}
.text-area {
	grid-column: 1/-1 !important;
}
.text-area textarea {
	width: 100% !important;
	height: 7rem;
}
/* ------------------------------------------------------------------ */
/* q. INSTALL PAGE
/* ------------------------------------------------------------------ */
.install-subheader > .grid {
	position: relative;
}
.install-header {
	grid-column: 1/ -1;
	grid-row: 1 / span 2;
	align-self: start;
}
.install-subheader {
	align-self: end;
	grid-column: 1/ -1;
	grid-row: 1 / span 2;
}
.btn-back {
	align-self: end;
	justify-self: start;
	grid-column: 1/-1;
	grid-row: 6/7;
	z-index: 13;
}
/*first checkbox*/
input.input-one,
label.input-one,
.close-tab.input-one {
	justify-self: start;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}
/*second checkbox*/
input.input-two,
label.input-two,
.close-tab.input-two {
	justify-self: start;
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
/*third checkbox*/
input.input-three,
label.input-three,
.close-tab.input-three {
	justify-self: start;
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}
/*General Checkbox*/
.content.input-one,
.content.input-two,
.content.input-three {
	grid-column: 1 / -1;
	grid-row: 4 / 7;
}
input.input-one,
input.input-two,
input.input-three {
	position: relative;
	display: block;
	z-index: -1;
	opacity: 0;
	transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	cursor: pointer;
}
.close-tab {
	position: relative;
	z-index: 13;
	opacity: 0;
	pointer-events: none;
	justify-content: center;
	align-items: center;
	transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.content {
	position: relative;
	opacity: 0;
}
label.os-check {
	cursor: pointer;
	text-align: center;
}
.os-check > h6 {
	margin-top: 0.54rem;
	text-align: center;
}
.os-check {
	text-align: center;
}
/*sends the content to the top, but only when selected*/
[type='radio'].input-one:checked ~ label.input-one ~ .content.input-one,
[type='radio'].input-two:checked ~ label.input-two ~ .content.input-two,
[type='radio'].input-three:checked ~ label.input-three ~ .content.input-three {
	z-index: 12;
	opacity: 1;
}
/*sends the grey div to the top, but only when selected*/
[type='radio'].input-one:checked ~ label.input-one,
[type='radio'].input-two:checked ~ label.input-two,
[type='radio'].input-three:checked ~ label.input-three {
	z-index: 12;
	opacity: 0;
	transition: 0.25s cubic-bezier(0.9, 0.03, 0.69, 0.22);
	cursor: default;
}
[type='radio'].input-one:checked,
[type='radio'].input-two:checked,
[type='radio'].input-three:checked {
	z-index: 12;
}
/*sends the "close-tab" div to the top, but only when selected*/
[type='radio'].input-one:checked ~ label.input-one ~ .close-tab.input-one,
[type='radio'].input-two:checked ~ label.input-two ~ .close-tab.input-two,
[type='radio'].input-three:checked ~ label.input-three ~ .close-tab.input-three {
	opacity: 1;
	z-index: 13;
	transition: 0.25s cubic-bezier(0.9, 0.03, 0.69, 0.22);
}
.install-instructions {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
/*Code Blocks*/
.code-block {
	margin: 0;
	margin-top: 0.09rem;
	display: inline-block;
	padding: 0.55em 0.636em;
	font-size: 0.63636363rem;
	background-color: #000000;
	color: #afafaf;
	overflow: auto;
	white-space: nowrap;
	user-select: none;
}
.code-block > code {
	display: inline-block;
	user-select: text;
}
.code-block::before {
	content: '$';
	display: inline-block;
	pointer-events: none;
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
}
a.link.red {
	text-decoration: underline;
	transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
a.link:hover.red {
	color: #e82727 !important;
	transition: 0.25s cubic-bezier(0.9, 0.03, 0.69, 0.22);
}
.install-instructions a {
	font-size: 0.63636363rem;
}

/* ------------------------------------------------------------------ */
/* r. AVAILABILITY AND FAULT TOLERANCE TOOLTIP
/* ------------------------------------------------------------------ */
.tooltip {
	font-size: 0.85em;
	cursor: pointer;
	color: #ffffff;
	opacity: 0.66;
	transition: 0.25s cubic-bezier(0.9, 0.03, 0.69, 0.22);
}
.tooltip:hover,
.tooltip:focus {
	opacity: 1;
	transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
button.tooltip {
	background-color: transparent;
	position: relative;
	padding: 0;
	text-align: left;
}
button.tooltip > div {
	font-family: 'Source Sans 3 VF', 'Source Sans Pro', -apple-system, 'San Francisco', BlinkMacSystemFont, 'Segoe UI',
		'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.25;
	display: block;
	position: absolute;
	padding: 0.64rem;
	width: 11rem;
	color: #fafafa;
	font-size: 0.64rem;
	bottom: 1rem;
	white-space: normal;
	transition: opacity, transform 0.25s cubic-bezier(0.9, 0.03, 0.69, 0.22);
	transform: scale(0);
	visibility: hidden;
	opacity: 0;
	transform-origin: bottom right;
	right: 50%;
}
button.tooltip:focus > div,
button.tooltip:hover > div {
	transition: opacity, transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	cursor: pointer;
}

/* ------------------------------------------------------------------ */
/* s. SEE ALL APPS SIDEBAR
/* ------------------------------------------------------------------ */
.see-all-apps-relative {
	position: relative;
}
.appsOverlay {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 100%;
	width: calc((100vw - (1.63rem / 2)) / 4 + 1.09rem);
	padding: 1rem 0rem 0rem 1rem;
	z-index: 9999;
	transform: translateX(0);
	transition: 0.25s cubic-bezier(0.9, 0.03, 0.69, 0.22);
}
.appsOverlay > .modal-close {
	color: #000000;
}
.appsOverlay:target {
	visibility: visible;
	opacity: 1;
	transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transform: translateX(-100%);
}
.sidebar-column-flex {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.appsPopop-sticky {
	color: #171717;
	padding-bottom: 1rem;
}
.appsPopup {
	position: relative;
	z-index: 9999;
	overflow-y: auto;
	height: 100%;
	overflow-x: hidden;
	padding-bottom: 1rem;
}
/* ------------------------------------------------------------------ */
/* t. MEDIA QUERIES
/* ------------------------------------------------------------------ */
@media (max-aspect-ratio: 1/1) {
	.display-image-wrapper {
		width: 50vh;
		height: 50vh;
	}
	.noteworthy-image-wrapper {
		width: 30vh;
		height: 30vh;
	}
	.control-image-wrapper {
		width: 38vh;
		height: 38vh;
	}
	.free-bg-circle,
	.hero-background {
		width: 300vh;
		height: 300vh;
	}
}
@media (min-aspect-ratio: 1/1) {
	.display-image-wrapper {
		width: 50vw;
		height: 50vw;
	}
	.noteworthy-image-wrapper {
		width: 30vw;
		height: 30vw;
	}
	.control-image-wrapper {
		width: 38vw;
		height: 38vw;
	}
	.hero-background,
	.free-bg-circle {
		width: 300vw;
		height: 300vw;
	}
}
@media (max-width: 768px) {
	.free-section > .grid {
		grid-auto-rows: auto;
	}
	.free-main {
		grid-column: 1/4;
		width: fit-content;
	}
	.free-sign-up {
		grid-column: 1/4;
		width: fit-content;
	}
	.free-enterprise {
		grid-column: 1/4;
		width: fit-content;
	}
	.grid {
		padding: 1.63rem 1.63rem;
	}
	.nav-wrapper > .grid {
		padding: 0.63rem 1.63rem;
	}
	.appsOverlay {
		min-width: 11rem;
	}
}
@media (max-width: 576px) {
	html {
		font-size: 20.5px;
	}
	h1,
	h2 {
		font-size: 2.25rem;
		margin: 0;
	}
	h2 {
		margin-bottom: 1.1rem;
	}
	h3 {
		font-size: 1.5rem;
		margin: 0;
	}
	h4 {
		font-size: 1rem;
		line-height: 1.1;
		margin: 0;
	}
	h5,
	h6 {
		margin: 0;
	}
	.grid {
		grid-template-columns: 1fr;
		padding: 1rem;
		grid-auto-rows: auto;
		/* gap: 1.09rem; */
	}
	.grid > * {
		grid-column: 1 /-1;
		grid-row: auto;
	}
	/*Nav*/
	.nav-wrapper > .grid {
		padding: 0.63rem 1rem;
	}
	.nav-demo,
	.nav-install {
		display: none;
	}
	/*Hero*/
	.hero-wrapper > .grid {
		grid-template-rows: 61vh 1fr;
	}
	.hero-wrapper h1 {
		margin-bottom: 1rem;
	}
	.hero-title {
		align-self: center;
	}
	.hero-cta {
		align-self: start;
	}
	.hero-cta .btn {
		margin-bottom: 0.5rem;
	}
	/*Steps*/
	.steps-section {
		padding: 0;
	}
	.steps-section > .grid {
		padding-bottom: 0;
	}
	.steps-section h2 {
		margin-bottom: 0;
	}
	.sidecar {
		margin-top: 0.225rem;
	}
	.sidecar > p {
		margin-bottom: 0.3rem;
	}
	/*Simple*/
	.simple-section {
		padding-bottom: 2rem;
	}
	.simple-section .grid {
		grid-template-columns: 1fr 1fr;
	}
	.app-column {
		grid-column: span 1;
		display: grid;
		align-items: flex-start;
		grid-template-columns: 1fr;
		gap: 0.64rem;
	}
	.auto-updates,
	.custom-apps {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1.090909rem;
		row-gap: 0;
	}
	.auto-updates > p {
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.custom-apps > p {
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.custom-apps-example {
		grid-column: 2 / 3;
		grid-row: 1/3;
		display: flex;
		align-items: center;
	}
	.auto-update-img {
		display: grid;
		grid-auto-flow: column;
		gap: inherit;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: start;
	}
	/*Friends*/
	.friends-header {
		align-self: center;
		grid-row: 1 / span 2;
	}
	.friends-subhead {
		grid-row: 2/3;
		color: #cf4848 !important;
		align-self: end;
	}
	.friends-section > .grid {
		padding-top: 0;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 1fr;
	}
	.friends-one-header,
	.friends-two-header,
	.friends-three-header {
		grid-column: 1/2;
		align-self: start;
	}
	.friends-one-detail,
	.friends-two-detail,
	.friends-three-detail {
		grid-column: 2/3;
		align-self: start;
	}
	/*data*/
	.data-wrapper > .grid {
		grid-auto-rows: 1fr;
		padding-bottom: 2.6rem;
	}
	.data-header {
		grid-row: 1 /2;
		position: relative;
		align-self: auto;
		max-width: 25ch;
		z-index: 502;
	}
	.display-image {
		grid-row: 1 / span 2;
		align-self: center;
	}
	.display-image-wrapper {
		object-fit: contain;
		transform: translateX(2em);
		top: -50vw;
		width: 100vw;
		height: 100vw;
	}
	#internetGateway {
		display: none;
	}
	.noteworthy-image-wrapper,
	.noteworthy-image {
		display: none;
	}
	.control-your,
	.control-image {
		grid-row: 7/9;
	}
	.control-image-wrapper {
		width: 100%;
		height: 100%;
	}
	.decide-who {
		grid-row: 9/10;
	}
	.decide-who .img {
		display: inline-block;
		text-align: right;
	}
	.data-container.transparent {
		align-self: end;
	}
	#dataCanvas {
		grid-row: 8/10;
	}
	.data-header,
	.data-subheader {
		max-width: auto;
	}
	/*FREE section */
	.free-section > .grid {
		min-height: auto;
		padding-top: 4.2rem;
		gap: 2.25rem;
	}
	.appsOverlay {
		width: 100%;
		padding: 1rem;
		padding-bottom: 0;
	}
	.appsPopup .app-card {
		grid-column: 1 span 1;
	}
	.popup {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100%;
		margin: 0;
		padding: 2rem 1rem 1rem 1rem;
		min-width: auto;
	}
	.flex-column {
		grid-column: 1/-1;
	}

	.close {
		position: absolute;
		font-size: 2rem;
	}
}

/* ------------------------------------------------------------------ */
/* u. SAFARI FOOTER BUG FIX
/* ------------------------------------------------------------------ */
/* Safari 11+ */
@media not all and (min-resolution: 0.001dpcm) {
	@supports (-webkit-appearance: none) and (stroke-color: transparent) {
		.free-bg-circle {
			max-height: 110%;
		}
	}
}
