.donationContainer {
	max-width: 1400px;
	margin: 0 auto;
}

.donationGrid {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 1rem;
}

.donationHeading {
	grid-column: 1 / span 1;
}

.donationBtns {
	grid-column: 2 / span 1;
}

.donationSubmit {
	grid-column: 3 / span 1;
}

.donationInputDollar::before {
	content: '$';
	color: var(--fn-gray-900);
	position: relative;
	left: 1.5rem;
	font-weight: 500;
}

.donationInput::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--fn-gray-900);
	opacity: 1; /* Firefox */
}

.donationInput::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--fn-gray-900);
}

.donationInput:focus::placeholder {
	color: transparent;
}

@media only screen and (max-width: 900px) {
	.donationGrid {
		grid-template-columns: 1fr 2fr;
		grid-template-rows: repeat(2, 1fr);
	}

	.donationSubmit {
		grid-column: 1 / span 2;
		grid-row: 2;
	}
}
@media only screen and (max-width: 768px) {
	.donationGrid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.donationHeading {
		text-align: center;
		grid-row: 1;
		grid-column: 1 / span 2;
	}

	.donationBtns {
		grid-row: 2;
		grid-column: 1 / span 2;
	}

	.donationSubmit {
		grid-row: 3;
		grid-column: 1 / span 2;
	}
}
